html {
    font-family: 'Nabla', cursive;
    font-size: 18px;
    color: #FFD500;
    /* background-color: #272838; */
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #470077;
    font-family: 'Nabla', cursive;
}
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}



.container {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.grid-section {
    display: block;
    /* padding: 20px; */
    /* padding-top: 30px; */
}

.grid {
    display: grid;
    margin: auto;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: #3D0066;
}

.grid > div {
    border: 1px rgba(251, 255, 121, 0.29) solid;
}

.controls-section {
    background-color: #3D0066;
    font-size: 1.2rem;
    width: 17rem;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.slider > h3 {
    margin: 0;
}


/* Slider design */
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rangeOutput {
    margin: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #36005b;
    width: 10rem;
    border-radius: 0.2rem;
}

.slider > input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
}

.slider > input::-webkit-slider-runnable-track {
    background: #36005b;
    height: 0.5rem;
    border-radius: 1rem;
}

.slider > input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: #FFD500;
    height: 1.75rem;
    width: 0.55rem;    
 }

 /* Button design */
 #clearButton {
    font-family: 'Nabla', cursive;
    width: 10rem;
    height: 2rem;
    background-color: #36005b;
    color: #FFD500;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    margin: 2px;
 }

 #clearButton:active {
    background-color: #470077;
    color: #FFD500;
    border: 2px #FFD500 solid;
    border-radius: 0.2rem;
 }

 /* Color Picker */
 .color-picker {
    display: flex;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
 }

 #colorpick {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
 }

#colorpick::-webkit-color-swatch {
    border-radius: 0.2rem;
    border: none;
}